.hero {
  background-color: var(--color-black);
}

.hero > div {
  border-block-start: 1px solid hsla(0, 0%, 100%, 0.2);
  padding-block: 98px 97px;
}

.hero h1 {
  color: var(--color-white);
  text-align: center;
}

.products {
  margin-block-start: var(--breathing-room);
  list-style: none;
}

.products > * + * {
  margin-block-start: var(--breathing-room);
}
