.summary {
  background-color: var(--color-white);
  padding: 32px 33px;
  min-inline-size: 21.875rem;
  block-size: fit-content;
}

.list {
  list-style: none;
  margin-block-start: 1.9375rem;
}

.list > * + * {
  margin-block-start: 1rem;
}

.item {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    'image name quantity'
    'image price _';
}

.image {
  grid-area: image;
}

.name,
.quantity {
  align-self: end;
}

.name {
  grid-area: name;
  font-weight: var(--font-weight-bold);
  line-height: 1.5625rem;
}

.price {
  grid-area: price;
  align-self: start;
}

.quantity {
  grid-area: quantity;
  justify-self: end;
}

.bill-list,
.summary button {
  margin-block-start: 2rem;
}

.bill-list > * + * {
  margin-block-start: 0.5rem;
}

.bill-list > *:last-child {
  margin-block-start: 1.5rem;
}

.bill-pair {
  justify-content: space-between;
}

.bill-price {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
}

.bill-pair:last-of-type .bill-price {
  color: var(--color-accent);
}

.term {
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

.summary button {
  inline-size: 100%;
}

.dialog {
  max-inline-size: 33.75rem;
  padding: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog .image {
  block-size: 3.125rem;
  inline-size: 3.125rem;
}

.title {
  margin-block-start: 2.0625rem;
  margin-block-end: 1.5rem;
}

.dialog-summary {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-block-start: 2.0625rem;
}

.purchased {
  background-color: var(--color-bg-grey);
  padding: 24px;
}

.others {
  --spacing: 0.75rem;
  border-block-start: 1px solid;
  padding-block-start: var(--spacing);
  margin-block-start: var(--spacing);
  font-weight: var(--font-weight-bold);
  font-size: 0.75rem;
  letter-spacing: -0.02em;
  text-align: center;
}

.total {
  color: var(--color-white);
  display: grid;
  place-content: center;
  background-color: var(--color-bg-dark);
  padding-inline: 32px;
}

.dialog a {
  margin-block-start: 2.875rem;
  inline-size: 100%;
}
