.hero {
  background-color: var(--color-bg-dark);

  color: var(--color-white);
}

.hero > div {
  padding-block: 128px 158px;
  border-block-start: 1px solid hsla(0, 0%, 100%, 0.2);
  position: relative;
  overflow: hidden;
}

.info {
  position: relative;
  max-inline-size: 25rem;
}

.info > * + * {
  margin-block-start: 1.5rem;
}

.info p:first-of-type {
  color: inherit;
  opacity: 0.5;
}

.info h1 {
  color: inherit;
}

.info p:last-of-type {
  opacity: 0.75;
}

.info a {
  margin-block-start: 2.5rem;
}

.image {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.image img {
  object-fit: cover;
  object-position: bottom 0 right -125px;
}

.links {
  padding-block: 200px 168px;
}

.product1,
.product2,
.product3__image {
  /* overflow hides the overflowing images */
  overflow: hidden;
}

.product1,
.product2,
.product2 div:last-of-type,
.product3 {
  position: relative;
  isolation: isolate;
}

.product1__pattern,
.product1__image,
.product2__image,
.product3__image {
  /* Applied to all images in the section */
  position: absolute;
}

.product2,
.product3 {
  margin-block-start: 3rem;
}

.product2,
.product3 > div:last-of-type {
  padding: 101px 95px;
}

.product2,
.product3 > div {
  background-color: var(--color-bg-grey);
}

:is(.product1__pattern, .product1__image) > img {
  object-fit: contain;
}

:is(.product2__image, .product3__image) > img {
  object-fit: cover;
}

:is(.product2, .product3) a {
  margin-block-start: 2.0625rem;
}

.product1 {
  background-color: var(--color-accent);

  padding: 133px 95px 124px;

  display: grid;
  grid-template-columns: 1fr auto;

  color: var(--color-white);
}

.product1__pattern {
  left: -13.5%;
  top: -6.5%;
}

.product1__image {
  left: 12.5%;
  bottom: -2.5%;
}

.product1 h2 {
  color: inherit;
}

.product1__info {
  position: relative;
  grid-column: -1;
  max-inline-size: 21.875rem;
}

.product1__info p {
  opacity: 0.75;
  margin-block-start: 1.5rem;
}

.product1__info a {
  margin-block-start: 2.5rem;
}

.product2__image {
  inset: 0;
}

.product3__image {
  grid-column: 1 /2;
  inset: 0;
}

.product3 > div:last-of-type {
  grid-column: -2 / -1;
}

.about {
  padding-block: 200px;
}
