.header {
  --padding-block: 36px;

  padding-block-start: calc(var(--padding-block) - 1px);
  padding-block-end: var(--padding-block);
}

.header[data-variant='dark'] {
  background-color: var(--color-bg-dark);
}

.header[data-variant='black'] {
  background-color: var(--color-black);
}

.header > div {
  position: relative;

  display: grid;

  grid-template-columns: 1fr auto 1fr;
}

.header > div > :last-child {
  justify-self: end;
}
